---
import "@styles/main.scss";
import { siteConfig } from "~/settings";

import PageHead from "@components/PageHead.astro";
import PageHeader from "@components/PageHeader.astro";
import PageFooter from "@components/PageFooter.astro";

interface Props {
  title?: string;
  description?: string;
  ogType?: "website" | "article";
}

const { title, description, ogType = "website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <PageHead
    title={title ? `${title} | ${siteConfig.title}` : siteConfig.title}
    description={description ? description : siteConfig.description}
    ogType={ogType}
  />
  <body class="container">
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
{/* CSS required to keep footer at the bottom of the page */}
<style>
  .container {
    height: 80%;
    width: 80%;
  }
  html {
    /* 使用 RGBA 设置带透明度的淡蓝色背景，这里透明度为 0.3 */
    background-color: rgba(90, 119, 224, 0.05); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

  }
</style>
