---
import "@styles/main.scss";
import { siteConfig } from "~/settings";

import PageHead from "@components/PageHead.astro";
import PageHeader from "@components/PageHeader.astro";
import PageFooter from "@components/PageFooter.astro";

interface Props {
  title?: string;
  description?: string;
  ogType?: "website" | "article";
}

const { title, description, ogType = "website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <PageHead
    title={title ? `${title} | ${siteConfig.title}` : siteConfig.title}
    description={description ? description : siteConfig.description}
    ogType={ogType}
  />
  <body class="container">
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
{/* CSS required to keep footer at the bottom of the page */}
<style>
  .container {
    height: 80%;
    width: 80%;
  }
  /* 媒体查询，针对小屏幕设备（如手机） */
  @media (max-width: 767px) {
    .container {
      /* 在移动端不限制宽度，即宽度为 100% */
      width: 100%;
    }
  }
  html {
    font-family: Arial, sans-serif;
    /* 模糊的背景，使用径向渐变 */
    background:
      radial-gradient(
        circle at center,
        rgba(184, 184, 217, 0.2),
        rgba(224, 222, 189, 0.3)
      ),
      url("https://source.unsplash.com/random/1920x1080");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
